<h1>Dev#api-test</h1>
<!-- make this get from the "post method" -->
<%localSummonerName = @sName%>  
<h2>testing api on summoner <%=localSummonerName%> <br> if api isn't working it will return "titties"</h2>

<h1>API REQUEST: <%= summonerObject = sayMyName(localSummonerName)%></h1>

<h1>Stats</h1>
<%# get player information%>
<h2>Player Name: <%=localSummonerName%></h2>
<h2>Player Rank: </h2>