<h1>Dev#api-test</h1>
<!-- make this get from the "post method" -->
<%localSummoner = @sName%>  
<h2>testing api on summoner <%=localSummoner%> <br> if api isn't working it will return "titties"</h2>

<h1>API REQUEST: <%=sayMyName(localSummoner)%></h1>