</br></br></br></br></br></br></br>
<div id= "container-fluid">
	<center>
<h1>Enter your Summoner Name! </h1>
<%= form_tag dev_api_test_path do %>
  <%= text_field_tag :SummonerName %>
  <%= submit_tag :submit!%>
<% end %>
</center>
</div>
</br></br></br></br></br></br></br>